
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(249, 247, 247);
}

.container{
    font-family: 'Monstr';
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 20px;
}

a{
    text-decoration: none;
}
ul{
    list-style: none;
}
button{
    cursor: pointer;
}